@charset "utf-8";
/* CSS Document */

@media screen and (max-height:750px){
	a.dropDown{ bottom:60px; z-index:9999;}
}
@media screen and (max-width:1024px){
/*	#banner {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}
#mainBlock {
	position: relative;
	-moz-transform:translateY(-100%);
	transform:translateY(-100%);
	z-index: 10;
}
#mainBlock.open {
	-moz-transform:translateY(0);
	transform:translateY(0);
}*/
#mainBlock {
	-webkit-backface-visibility:hidden;
	position: relative;
	z-index: 20;
}
#subPageWrapper{margin: 0 -15px; padding-right: 15px; padding-left: 15px; }
.container{ width:100%;}
.animated{ opacity:1 !important; visibility:visible !important; -webkit-animation-name:none !important; -moz-animation-name:none !important; animation-name:none !important;
-webkit-animation-duration: 0s !important; -moz-animation-duration: 0s !important; animation-duration: 0s !important; -webkit-animation-delay: 0s !important; -moz-animation-delay: 0s !important; animation-delay:0s !important; }
.bannerSection, #workUs, #newsRoom{ background-attachment:scroll !important; background-position:center center !important}
a.dropDown{ bottom:30px; z-index:9999;}
}
@media screen and (max-device-width:1024px){
	.menuWrap { -webkit-backface-visibility:hidden;}
	#banner { position:relative;}
	.bannerSection { position:relative;}
}
@media screen and (max-width:840px){
body{position:relative; right:0;}
#mainBlock{ padding-top:72px;}
.menuWrap{ height:72px; left:inherit !important; right:0; top:0; z-index:3; width:100%;}
#fakeHt{ display:none}
.menuTigger{ display:block;}
.menu{ background-color:#fff; border-left:1px solid #221f1f; height:100%; left: inherit; padding:0; position:fixed; top:0; right:-340px; width:340px; overflow-y: scroll; z-index:3;}
.menu ul li{ border-bottom:1px solid #221f1f; float:none; padding:0 !important;}
.menu ul li a{ padding:23px 15px;}
.menu ul li a:hover{ background-color:#221f1f; color:#fff; }
body.open, .menuWrap.sticky.open, #subPage .menuWrap.open{ right:340px;}
.menu.open{ right:0; }
body, .menu, .menuWrap, #mainBlock{  -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease;}
.mainContent{ height:inherit !important;}
.sectionBlk{ padding:50px 0 60px !important;}
.who-Wrap{ padding-top:40px; padding-bottom:50px; width:100%;}
.whoWeAre{ display:block; padding-right:15px}
.half-img{ display:none}
#subPage{ padding-top:72px}
footer.sectionBlk{ padding-bottom:20px !important;}
#clientel{ padding-bottom:0 !important}
}

@media screen and (max-width:767px){
.bannerContent img{ margin-bottom:20px;}
.logo{ padding-top:5px; width:180px;}
.sectionBlk{ padding-top:40px; padding-bottom:50px;}
.tab-content .col-xs-8{ padding:40px 0}
}

@media screen and (max-width:640px){
[class*="col-xs-"]{ float:none; width:100%;}
.sectionBlk h2{ padding-bottom:30px !important}
#clientel h2{ padding-bottom:40px !important;}
.client_row{ padding-bottom:30px;}
.client_row:last-child{ padding-bottom:0px;} 
.client_row a img{ margin-bottom:25px;}
.subContent{ background:none;}
.sideBar{ padding-left:15px;}
#subPageWrapper{ padding:30px 15px;}
.news-widget{ border-top:1px solid #808080; padding-left:0}
.news-widget ul li{ border: none; margin-bottom:0;}
.contactWrap .col-xs-5{ padding-bottom:40px;}
#newsRoom{ padding-bottom:60px !important}
#clientel{ padding-bottom:10px !important}
.news-widget ul li{ height:inherit !important}
.careerUpImg{ display: none;}
.bx-wrapper .bx-prev {top: 0px;}
.bx-wrapper .bx-next {bottom: 0px;}
}
@media screen and (max-width:600px){
.client_row{ padding-bottom:40px; width:50%;}
.client_row:nth-child(odd){ background:none;}
.client_row:nth-child(4n){ background:url(../images/listImg.jpg) left top no-repeat}
.menu{ width:240px; right:-240px;}
body.open, .menuWrap.sticky.open, #subPage .menuWrap.open { right:240px;}
}
@media screen and (max-width:568px){
.bannerContent p{ font-size:16px; line-height:22px;}
footer ul{ margin-bottom:35px;}
.copy{ text-align:center;}
.copy div{ float:none; line-height:18px; padding-bottom:5px}
.formRow{ padding-bottom:10px;}
.formInnerField > label { border-right:none; position:static; width:100%;}
.formInnerField > label > span, .sideBar .formInnerField > label > span { text-align:left;}
.formInnerField { border:none;}
.formInnerField{ padding:0 !important;}
.tetxBox, .textArea, .fileUp{ border:solid 1px #aaaaaa;}
.tetxBox { height:50px;}
.fileUp{ margin-top:15px; margin-bottom:20px; padding:5px 0 !important;}
.sideBar .textareaRow label span { padding:10px 0; height:auto;}
.textareaRow label, .textareaRow { height:auto;}
.errorBox{ margin-left:0;}
.fileUp{ border: none; padding:0 !important}
.fileUp .formInnerField{ border:1px solid #aaaaaa; padding:5px 0 5px 15px!important}
}

@media screen and (max-width:380px){
.client_row{ background:none !important; /*float:none; width:100%;*/}
.client_row span { display:block; line-height:22px;}
.client_row a img{ padding-bottom:15px;}
.newsList-blk{ padding-right:0}
.downloadPdf{ position: static; right:0}
.date{ margin-bottom:10px;}
#subPage h1{ font-size:34px; line-height:42px; padding-bottom:20px;}
}